#page-login {
  background-image: url('../../assets/Background.png');
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100%;
}

.login-content-form {
  background-color: #fff;
  width: 28%;
  height: 60%;
  margin-left: 36%;
  margin-top: 10%;
  border-radius: 20px;
  display: block;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 55px 55px 37px 55px;
}

.login-logo {
  width: 100%;
  position: relative;
}

.logo-size img {
  position: relative;
  width: 75%;
  height: 75%;
  top: 23%;
  left: 13%;
}

.login-form {
  width: 100%;
  height: 90%;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

.login-username {
  width: 70%;
  margin-top: 22%;
  margin-left: 12%;
  position: relative;
  margin-bottom: 20px;
}

.login-password {
  width: 70%;
  margin-left: 12%;
  position: relative;
  margin-bottom: 35px;
}

.login-btn-access {
  width: 70%;
  margin-left: 12%;
  position: relative;
  margin-bottom: 15px;
}

#btn-access {
  width: 105%;
  border-radius: 12px;
}

.login-recovery-access {
  width: 70%;
  margin-left: 14%;
  position: relative;
  text-align: center;
  font-size: 12px;
}

.input-username-password {
  font-size: 15px;
  height: 30px;
  width: 105%;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgba(12, 12, 12, 0.527);
  padding-left: 10px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

